.pageContainer {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  overflow: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e2e8f0;
}

.editorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
}

.textEditor {
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.textEditorContent {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1.5rem;
}
