.pageContainer {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(132deg, #fadb42, #48a1ff);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  gap: 1rem;
}

.labelText {
  font-size: 0.875rem;
  /* color: #4f4e4e; */
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.textField {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  height: 2.25rem;
}

input {
  color: #4f4e4e;
  background-color: #e8f0fe;
  border: none;
  font-size: 0.8rem;
}

input:focus {
  outline: none !important;
  border: none;
}

.button {
  border: none;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 20px 0px #e8f0fe;
  /* color: #4f4e4e; */
  color: #ffffff;
  height: 2.25rem;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.button:hover {
  filter: opacity(80%);
}
